<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <springProfile name="dev">
    	<property name="LOG_DIRECTORY" value="D:/logs"/>
    </springProfile>
    
    <springProfile name="prod">
    	<property name="LOG_DIRECTORY" value="/home/pi/logs"/>
    </springProfile>
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	  	<encoder>
	    	<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
	  	</encoder>
	</appender>

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIRECTORY}/loanman.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIRECTORY}/archived/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>60MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="FILE-ROLLING"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
